.upload-modal{
    position: absolute;
    // height: 100%;
    width: 100vw;
    top:0;
    // right: 0;
    // left: -1;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 1000;
    display: none;
}

.post-form-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    background: #fafafa;
    position: absolute;
    border-radius: 3px;
}

.form-container{
    display: flex;
    justify-content: center;
    
}

.close-button{
    cursor: pointer;
}

.post-submit-button, .file-upload-button{
    font-family: -apple-system,system-ui,"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    outline: 0 !important;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    margin-left: 15px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

// .file-upload-button {
//   border: 2px solid gray;
//   color: gray;
//   background-color: white;
//   padding: 8px 20px;
//   border-radius: 8px;
//   font-size: 20px;
//   font-weight: bold;
// }

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
