.upload-modal{
    position: absolute;
    // height: 100%;
    width: 100vw;
    top:0;
    // right: 0;
    // left: -1;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 1000;
    display: none;
}

.post-form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    background: #fafafa;
    position: absolute;
    border-radius: 3px;
}

.form-container{
    display: flex;
    justify-content: center;
    
}

.close-button{
    cursor: pointer;
}

.post-file-button, .post-submit-button{
     font-family: -apple-system,system-ui,"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: rgb(28, 137, 238);
    border-radius: 4px;
    color: rgb(234, 231, 225);
    border: none;
    padding: 3px;
    width: 200px;
    height: 30px;
    padding-top: 5px;
    padding-left: 9px;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    width: 250px;
    cursor: pointer;
}
