// .user-posts{
//     width: 935px;
//     margin-bottom: 28px;
//     justify-content: space-around;
//     display: grid;
//     grid-template-columns: repeat(auto-fill, 293px);
//     grid-gap: 20px;
//     justify-content: center;
//     width: 100%;
//     margin: 0 auto;

//     li {
//     //   width: 100%;
//     //   height: 293px;
//       overflow: hidden;
//       img {
//         height: 293px;
//         width: 100;
//         position: relative;
//       }

//     }
// }

// .all-posts{
//     display: flex;
//     margin-top: 60px;
// }

.posts-container {
    max-width: 935px;
    margin: 0 auto;
    padding: 0 20px;
}

.all-posts {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem - 1rem;
    padding-bottom: 3rem;
}

// .all-posts{
//     display: grid;
//     grid-template - columns: repeat(auto - fit, minmax(22rem, 1fr));
//     grid-gap: 2rem;
// }


.post {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}


.post-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}