.big-wrapper{
    position: fixed;
    
    width: 100%;
    height: 100%;
   
    background: rgba($color: #000000, $alpha: 0.6);
    z-index: 1000;
   
}

.post-modal-container{
    // width: 100vw
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // height: 100vh;
    // top:0;
    // right: 0;
    // left: -1;
    // bottom: 0;
    // background: rgba($color: #000000, $alpha: 0.6);
    z-index: 1000;
    // display: none;
}

.post-show-image{
    display: table-cell;
    max-height: 580px;
    width: auto;
    // height: auto;
    // width: 540px;
    // z-index: 1000;

}

.post-show-image-container{
    display: table;
    // max-height: 580px;
    // align-items: center;
    // justify-content: center;
    // display: table-row;
}



.post-show-comments{
    width: 335px;
    // min-height: 100px;
    display: table-cell;
    // height: 100%;
    background: #fafafa;
}

.post-show-image-wrap{
    display: flex; 
    justify-content: center;
}