.big-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    z-index: 1000;
}

.post-modal-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.post-show-image{
    max-height: 580px;
    height: 100%;
    width: auto;

}

.post-show-image-container{
    display: flex;
    
}

.close-button a{
    text-decoration: none;
    color: #fff;

}



.post-show-comments-container{
    width: 335px;
    max-height: 580px;
    background: #fafafa;
    padding: 0px 24px 0px 24px;
    box-sizing: border-box;
}

.post-show-comments-wrp{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    // padding: 0px 24px 0px 24px;
}

.post-show-comments{
    padding: 12px 0px 12px 0px;
}

.post-show-image-wrap{
    display: flex; 
    justify-content: center;
}

.post-show-header{
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #efefef;
    display: flex;
}

.post-username-show{
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    // padding: 5px 0px 5px 0px;
}

.post-username-show2{
   
    color: #262626;
    font-weight: 600;
    font-size: 14px;
    // margin-right: 4px;
}

.post-show-caption{
    font-size: 14px;
}

.post-caption-container2{
    display: flex;
    padding: 5px 2px 6px 0px;
}

.post-show-prof{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    // padding: 5px;
}



.feed-comment-list ul{
    list-style-type: none;
    padding: 5px 0px 0px 0px;
    margin: 0;
}