.feed-index{
    display: flex;
    flex-direction: column;
    width: 614px !important;
    // display: grid;
    // grid-template-columns: repeat(1, 100%);
    // grid-gap: 28px;
    margin-top: 136px;
    padding-left: 0px;
    justify-content: center;
}

.feed-container{
    display: flex;
    justify-content: center;
    color: #262626;
}

.post-index-img{
    width: 614px;
    min-height: 614px;
    object-fit: cover;
    display: block;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.feed-post {
    position: relative;
    color: #fff;
    // cursor: pointer;
    margin-bottom: 60px;
    
}

.feed-post a{
    text-decoration: none;
    color: #262626;

}



.post-bar{
    background: white;
    height: 27px;
    width: 582px;
    padding-left: 0px;
    border: 1px solid #e6e6e6;
    // border-radius: 3px;
    // border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 16px 21px 16px 11px;
}

.comment-bar{
    background: white;
    color: black;
    // height: 100px;
    display: inline-block;
    width: 582px;
    padding: 0px 16px 0px 16px;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}



.post-username{
    color: #262626;
    font-weight: 600;
    padding-left: 5px;
    display: inline;
    font-size: 14px;

}
.post-username2{
    color: #262626;
    font-weight: 600;
    display: inline;
    font-size: 14px;

}

.canvas{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-prof-pic{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


.post-like-container{
    width: 100%;
    height: 40px;
}

.post-caption-feed{
    font-size: 14px;
}