.feed-index{
    display: flex;
    flex-direction: column;
    width: 614px !important;
    // display: grid;
    // grid-template-columns: repeat(1, 100%);
    // grid-gap: 28px;
    margin-top: 136px;
    padding-left: 0px;
    justify-content: center;
}

.feed-container{
    display: flex;
    justify-content: center;
}

.post-index-img{
    width: 614px;
    min-height: 614px;
    object-fit: cover;
    display: block;
    padding-left: 0px;
}

.feed-post {
    position: relative;
    color: #fff;
    cursor: pointer;
    margin-bottom: 60px;
}

.post-bar{
    background: white;
    height: 61px;
    width: 614px;
    padding-left: 0px;
}

.comment-bar{
    background: white;
    height: 100px;
    width: 614px;
    padding-left: 0px;
}


