.feed-index{
    display: flex;
    flex-direction: column;
    width: 614px !important;
    // display: grid;
    // grid-template-columns: repeat(1, 100%);
    // grid-gap: 28px;
    margin-top: 136px;
    padding-left: 0px;
    justify-content: center;
}

.feed-container{
    display: flex;
    justify-content: center;
}

.post-index-img{
    width: 614px;
    min-height: 614px;
    object-fit: cover;
    display: block;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.feed-post {
    position: relative;
    color: #fff;
    cursor: pointer;
    margin-bottom: 60px;
}

.post-bar{
    background: white;
    height: 59px;
    width: 614px;
    padding-left: 0px;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center
}

.comment-bar{
    background: white;
    height: 100px;
    width: 614px;
    padding-left: 0px;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}



.post-username{
    // height: 100px;
    color: black;
}

.canvas{
    height: 40px;
    width: 40px;
    top: -5px;
    left: -5px;
    display: flex;
    
}

.post-prof-pic{
    height: 30px;
    width: 30px;
}