html, body, {
  height: 100%;
  background: #fafafa;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


// .big-div{
//   height: 100%;
//   background: #fafafa;
// }

.main-nav{
    border-bottom: 1px solid #e6e6e6;
    background-color: white;
    height: 25px; 
    width: 100%;
    padding-top: 26px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    display: flex; 

}

.main-nav input{
  overflow: hidden;

}

.search-bar {
  width: 215px;
  height: 28px;
}


.ig-logo{
  height: 24px; 
  width: 24px; 
  background-position: -163px -84px 
}

.nav-logo{
  font-family: 'Grand Hotel', cursive;
  height: 29px;
  width: 103px;
}

#logo-words{
  height: 100%;
  width: 100%;
}